* {
  box-sizing: border-box;
}
body {
  counter-reset: task1;
}
.task1::before {
  counter-increment: task1;
  content: "Section " counter(task1) ":";
}
.task1::after {
  content: " " counter(task1);
}
