* {
  box-sizing: border-box;
}
body {
  counter-reset: task1;
}
.task1::before {
  counter-increment: task1;
  content: "Section " counter(task1) ":";
}
.task1::after {
  content: " " counter(task1);
}

.task3 {
  display: inline-block;
  position: relative;
  font-size: 30px;
  letter-spacing: 1em;
}
.task3::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: aquamarine;
  z-index: -1;
}
