* {
  box-sizing: border-box;
}
body {
  counter-reset: task1;
}
.task1::before {
  counter-increment: task1;
  content: "Section " counter(task1) " : ";
}
.task1::after {
  content: " " counter(task1);
}

/* .task2-list {
  display: inline-flex;
  align-items: center;
  padding: 4px 20px;
  text-decoration: none;
  list-style: none;
  background-color: rgba(9, 9, 9, 0.91);
}
.task2-item {
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task2-item:not(:last-child) {
  margin-right: 20px;
}
.task2-item__few {
  width: 32px;
  height: 32px;
}
.task2-item__big {
  width: 40px;
  height: 40px;
}
.task2-item:first-child {
  background-color: rgb(63, 126, 105);
  color: aliceblue;
}
/* .task2-item:nth-child(2) {
  background-color: transparent;
  border: 4px solid aliceblue;
  color: aliceblue;
  font-size: 28px;
} */
/* .task2-item:not(:first-child, :last-child) {
  background-color: transparent;
  border: 4px solid aliceblue;
  color: aliceblue;
  font-size: 28px;
}
.task2-item:last-child {
  background-color: aliceblue;
  border: 4px solid rgb(63, 126, 105);
  color: rgb(63, 126, 105);
} */

.task2-list {
  display: inline-flex;
  align-items: center;
  padding: 4px 20px;
  text-decoration: none;
  list-style: none;
  background-color: rgba(9, 9, 9, 0.91);
}
.task2-item__current ~ .task2-item,
.task2-item__current {
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task2-item:not(.task2-item__current) {
  width: 32px;
  height: 32px;
}
.task2-item:not(:last-child) {
  margin-right: 20px;
}

/* .task2-item:nth-child(-n + 2) */
.task2-item:not(.task2-item__current ~ .task2-item, .task2-item__current) {
  position: relative;
  visibility: hidden;
}
/* .task2-item:nth-child(-n + 2) */
.task2-item:not(
    .task2-item__current ~ .task2-item,
    .task2-item__current
  )::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(40, 142, 57);
  background-size: cover;
  content: "✓";
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task2-item__current {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
}
/* .task2-item:nth-child(n + 4)  */
.task2-item__current ~ .task2-item {
  border: 4px solid rgb(40, 142, 57);
  color: antiquewhite;
}

.task3 {
  display: inline-block;
  position: relative;
  font-size: 30px;
  letter-spacing: 1em;
}
.task3::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: aquamarine;
  z-index: -1;
}

.task4 {
  display: grid;
  grid-template-rows: 20px, 20px, 1fr;
  grid-template-columns: 75%;
}
.task4-monthes {
  text-align: center;
}
.task4-weekdays,
.task4-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  padding: 15px;
}
.task4-weekd__row {
  grid-template-rows: 1fr;
}
.task4-days__row {
  grid-template-rows: repeat(5, 1fr);
}
.task4-data {
  position: relative;
  background-color: transparent;
  padding: 10px;
  width: 35px;
  height: 35px;
}
.task4-data::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid aquamarine;
  border-radius: 6px;
  transition: transform 0.6s ease-in-out;
  transform: scale(0, 0);
}
.task4-data:hover::before {
  transform: scale(0.8, 0.8);
  transform-origin: center;
}
